<h1>My cart</h1>
<% if @order_items.present? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product.name %></td>
          <td><%= order_item.quantity %></td>
          <td><%= order_item.product.price %></td>
          <td>
            <%= link_to "Remove", remove_from_order_item_path(order_item), method: :delete %>
            <%= form_tag update_order_item_path(order_item), method: :patch do %>
              <%= number_field_tag :quantity, order_item.quantity, min: 1 %>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No items in the cart.</p>
<% end %>

<% if  url_for(:back).split('/')[-1] == 'product/show'%>
  <%= link_to "Back", products_path, class:'btn btn-primary my-3' %>
<% else %>
 <%= link_to "Back", url_for(:back), class:'btn btn-primary my-3' %>
<% end %>
