<h1>Order History</h1>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Order ID</th>
      <th>Date/Time</th>
      <th>Product ID</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at %></td>
        <td><%= order.status %></td>
        <td><%= order.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if  url_for(:back).split('/')[-1] == 'product/show'%>
  <%= link_to "Back", products_path, class:'btn btn-primary my-3' %>
<% else %>
 <%= link_to "Back", url_for(:back), class:'btn btn-primary my-3' %>
<% end %>
