<h1>My cart</h1>
<% if @order_items.present? && @order_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.product.price %></td>
          <td>
            <%= link_to "Remove", remove_from_order_product_path(item.product), method: :delete %>
            <%= form_tag update_order_item_product_path, method: :put do %>
              <%= number_field_tag :quantity, item.quantity, min: 1 %>
              <%= hidden_field_tag :product_id, item.product.id %>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No items in the cart.</p>
<% end %>
