<h1>Products</h1>
<%= form_tag search_products_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search pills...' %>
  <%= submit_tag 'Search' %>
<% end %>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>
