<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Products</h1>
    </div>
  </div>

<%= form_tag search_products_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search pills...' %>
  <%= submit_tag 'Search' %>

<br>
<!-- Add the category select dropdown -->
<label for="category">Category:</label>
<%= select_tag :category, options_for_select(Product.pluck(:category).uniq), include_blank: true %>
<br>
<!-- Add the sorting radio buttons -->
<label>
  <%= radio_button_tag :sort, 'asc' %>
  Ascending Price
</label>
<label>
  <%= radio_button_tag :sort, 'desc' %>
  Descending Price
</label>
<br>
<% end %>

<h1>Available Magic Pills</h1>
<% @products.each do |product| %>
  <div>
    <h2><%= product.name %></h2>
    <p><strong>Price:</strong> <%= product.price %></p>
    <!-- Add additional information as needed -->
    <%= link_to "View Details", product_path(product) %>
  </div>
<% end %>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>
