<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All Products</h1>
    </div>
  </div>

  <%= form_tag search_products_path, method: :get, class: 'mb-3', id: 'search-form' do %>
    <div class="row">
      <div class="col-8">
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: 'Search pills...', class: 'form-control' %>
          <div class="input-group-append">
            <%= submit_tag 'Search', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <%= select_tag :category, options_for_select(Product.pluck(:category).uniq), { include_blank: 'Category', class: 'form-control', onchange: 'submitForm();' } %>
      </div>
    </div>

    <div class="form-group py-3">
      <div class="form-check">
        <%= radio_button_tag :sort, 'asc', id: 'sort-asc', class: 'form-check-input', onchange: 'submitForm();' %>
        <label class="form-check-label" for="sort-asc">Ascending Price</label>
      </div>
      <div class="form-check">
        <%= radio_button_tag :sort, 'desc', id: 'sort-desc', class: 'form-check-input', onchange: 'submitForm();' %>
        <label class="form-check-label" for="sort-desc">Descending Price</label>
      </div>
    </div>

    <%= submit_tag 'Search', class: 'btn btn-primary', style: 'display: none;' %>
  <% end %>

<h1>Available Magic Pills</h1>
<div class="cards">
  <% @products.each do |product| %>
    <div class="card-trip mb-5">
      <img src=<%= product.image %>/>
    <div class="card-trip-infos">
      <div>
        <h2><%= product.name %></h2>
        <p class='mb-3'><%= product.effect %></p>
        <p><%= link_to "View Details", product_path(product), class:'btn btn-primary
' %></p>
        <br>
        <p>

    <%# <%= link_to "Edit", product_path(product) %>
    <%# <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= button_to "Add to cart", order_items_path(product_id: product.id), method: :post%>

  </p>
      </div>
      <h2 class="card-trip-pricing">$<%= product.price %></h2>

      <img src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>

<script>
  function submitForm() {
    document.getElementById('search-form').submit();
  }

  // Get the radio buttons and listen for change events
  const sortAsc = document.getElementById('sort-asc');
  const sortDesc = document.getElementById('sort-desc');

  sortAsc.addEventListener('change', () => {
    submitForm();
  });

  sortDesc.addEventListener('change', () => {
    submitForm();
  });
</script>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @products %>
  </div>
  <%= will_paginate @products, :container => false %>
</div>
