<div class="mt-5">
  <h1 class="text-center">Register a new pill</h1>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <%= simple_form_for @product, url: products_path, method: :post do |form| %>
      <%= form.error_notification %>

      <div class="form-inputs w-100">
        <%= form.input :name %>
        <%= form.input :category, collection: ['Invisibility', 'Superhuman strength', 'Mind-reading', 'Tele-transportation'], prompt: 'Select a category' %>
        <%= form.input :effect %>
        <%= form.input :lifespan_days, as: :integer %>
        <%= form.input :side_effects %>
        <%= form.input :price %>
      </div>

      <div class="form-actions w-100 d-flex justify-content-center mb-2">
        <%= form.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
