<h1>Search Results</h1>

<%= form_tag search_products_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search pills...' %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @products.present? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <div class="cards">
          <div class="card-trip mb-5">
            <img src=<%= product.image %>/>
            <div class="card-trip-infos">
              <div>
                <h2><%= product.name %></h2>
                <p class='mb-3'><%= product.effect %></p>
                <p><%= link_to "View Details", product_path(product.id), class:'btn btn-primary' %></p>
                <br>
                <p>
                  <%= link_to "Edit", product_path(product) %> |
                  <%= link_to "Delete", product_path(product), method: :delete, data: { confirm: "Are you sure?" } %> |
                  <%= link_to "Add to cart", order_path(product), method: :post %>
                </p>
              </div>
              <h2 class="card-trip-pricing">$<%= product.price %></h2>
              <img src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>

<% if  url_for(:back).split('/')[-1] == 'edit'%>
  <%= link_to "Back", products_path, class:'btn btn-primary my-3' %>
<% else %>
 <%= link_to "Back", url_for(:back), class:'btn btn-primary my-3' %>
<% end %>
