<div class="container">
  <h1><%= @product.name %></h1>
  <p><strong>Effects:</strong> <%= @product.effect %></p>
  <p><strong>Lifespan:</strong> <%= @product.lifespan_days %></p>
  <p><strong>Side Effects:</strong> <%= @product.side_effects %></p>
  <p><strong>Price:</strong> <%= @product.price %></p>
</div>

<%# <%= link_to "Add to Cart", add_to_cart_path(@product), method: :post %>
